//@import '~bootstrap/scss/bootstrap'
@use "./partials/mixin" as *;
@use "./partials/variables" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans Narrow', sans-serif;
}

.container{
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

header{
  height: 95px;
  .container{
   @include centerFlex('vertical');
   @include menuStyle();
   justify-content: space-between;
   img{
    width: 70px;
   }
   ul{
    @include centerFlex('horizontal');
    a{
     color: black;
     text-transform: uppercase;
     padding: 1.5rem .9rem 3.1rem .9rem;
     font-size: .85rem;
     font-weight: bold;
     display: inline-block;
     margin-bottom: 10px;
     &:hover, &.active{
      border-bottom: 4px solid $main-blue;
     }
     &.active{
      color: $main-blue;
     }
    }
   }
  }
}

.jumbotron{
  height: 350px;
  background-image: url(../images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

//pagina comics
main{
  background-color: #1c1c1c;
  color: #f5e8fc;
  .btn, button{
    background-color: $main-blue;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .btn{
    transform: translateY(-20px)
  }
  .container-btn{
    display: flex;
    justify-content: center;
    button{
     color: #f5e8fc;
     outline: none;
     border: none;
     font-weight: bold;
    }
  }
  .comics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card{
      width: calc(100% / 6 - 5px);
      margin-bottom: 20px;
      .card-img{
        width: 150px;
        height: 150px;
        overflow: hidden;
        img{
          max-width: 100%;
        }
      }
      span{
        text-transform: uppercase;
        display: inline-block;
        margin: 15px 0;
        font-size: .9rem;
      }
    }

  }
}

//menu azzurro
.container-blue{
  background-color: $main-blue;
  height: 140px;
  color: white;
  @include centerFlex('vertical');
  .container{
    @include centerFlex('vertical');
    justify-content: space-evenly;
  }
  .item{
    @include centerFlex('vertical');
    cursor: pointer;
  }
  .img-container{
    width: 50px;
    height: 60px;
    margin-right: 10px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    
  }
  a{
    text-transform: uppercase;
    font-size: .9rem;
    text-decoration: none;
    color: white;
  }
}

//footer
footer{
  color: $color-footer;
  .footer-top{
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    height: 400px;
    overflow: hidden;
    .container{
      display: flex;
      background-image: url('../images/dc-logo-bg.png');
      background-repeat: no-repeat;
      background-position: right;
      height: 100%;
      .col{
        margin-right: 30px;
        margin-bottom: 60px;
        @include menuStyle();
        h3{
          text-transform: uppercase;
          margin-top: 30px;
          margin-bottom: 13px;
        }
        a{
          color: grey;
          font-size: .9rem;
          line-height: 150%;
        }
       
      }
    }
  }
  .footer-bottom{
    .sign-up{
      background-color: #303030;
      height: 85px;
      @include centerFlex('vertical');
      .container{
        @include centerFlex('vertical');
        justify-content: space-between;
        h4{
          padding: 13px 20px;
          border: 2px solid $main-blue;
          cursor: pointer;
        }
        .social{
          @include centerFlex('vertical');
          h3{
            color: $main-blue;
            margin-right: 10px;
          }
          img{
            margin-left: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

